
<div class="row justify-content-sm-center" style="max-width: 18rem;">

<div class="form-floating mb-3">
        <input class="form-control" id="floatingTextarea" placeholder="Marcel Popescu" #Inputname>
        <label for="floatingInput">Name</label>
      </div>

<div class="form-floating">
        <input class="form-control" id="floatingTextarea" placeholder="Heello" #Inputcontent>
        <label for="floatingPassword">Message</label>
      </div>

<button class="btn btn-primary" (click)="sendValues(Inputname.value,Inputcontent.value);
                    Inputcontent.value='';
                    Inputname.value=''">
                            Trimite mesaj
                </button>

</div>